* {
  box-sizing: border-box; /*правило для всех элементов - оно позволяет правильно считать ширину и высоту элементов*/
}
body {
  font-family: "Roboto", sans-serif; /*делаем шрифт робото для всего тега боди*/
}
.header {
  background-color: #635854; /*выставили цвет шапки*/
  padding-top: 12px; /*выставили отступ у шапки сверху*/
  padding-bottom: 12px; /*выставили отступ у шапки снизу*/
  border-bottom: 4px solid #3596f5; /*выставили обводку-линию снизу шириной 4 мегапикселя и нужным цветом*/
}
.navbar {
  max-width: 1280px; /*выставили максимальную ширину вебстраницы*/
  margin: auto; /*вебстраница центруется на мониторе*/
  display: flex; /*сделали блок гибким - элементы встали выровнялись в одну строку*/
  justify-content: space-between; /*расставили элементы по краям - расположить элементы по всему свободному пространству*/
  align-items: center; /*отцентровали текст*/
}
.navbar-menu {
  margin: 0; /*отключаем внешние отступы*/
  padding: 0; /*отключаем внутренние отступы*/
  list-style: none; /*отключаем точки у списка*/
  display: flex; /*сделали блок гибким*/
  text-align: center; /*текст выравнивается по центру*/
}
.navbar-item {
  margin-left: 40px; /*отступ слева у элементов*/
  margin-right: 40px; /*отступ справа у элементов*/
}
.navbar-link {
  text-decoration: none; /*убираем форматирование текста*/
  color: #fff; /*делаем белым текст*/
}
.navbar-contacts {
  text-align: right; /*текст класса navbar-contacts выравниваем по правому краю*/
}
.navbar-text {
  display: block; /*сделали класс .navbar-text блочным элементом*/
  color: #fff; /*делаем белым текст*/
  margin-bottom: 4px; /*отступ снизу*/
  font-size: 14px; /*размер шрифта*/
  line-height: 16px; /*междустрочный интервал*/
}
.navbar-phone {
  color: #fff; /*делаем белым текст*/
  font-weight: 700; /*толщина шрифта*/
  font-size: 17px; /*размер шрифта*/
  line-height: 20px; /*междустрочный интервал*/
  text-decoration: none; /*убираем форматирование текста*/
}
